<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cards</title>
</head>
<body>
    <% for( let index = 0; index < cards.length; index++ ) { %>
        <% let a = cards[index] %> 
        <% a = a.toJSON() %>
        <p> <%= a.number %></p><p> <%= a.suit %></p>
    <% } %>
</body>
</html>